# Rename this file to localconfig.py
# You can override any of the options set in config.py in this file

# Twitter OAuth
twitter_access_key = ""
twitter_access_secret = ""
twitter_consumer_key = ""
twitter_consumer_secret = ""

# Met Office API
metoffer_api_key = ""

# Open Wether API
open_weather_api_key = ""

# Location
location = [51.5252257441084, -0.134831964969635]
